.app {
  display: flex;
  align-items: center;
  flex-direction: column;
}
body {
  background-color: #ececec;
  background-image: linear-gradient(#fff9f1, #ececec);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
