.blog-div {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  align-content: flex-start;
  align-content: space-around;
  margin-top: 100px;
}
.blog-div a {
  color: black;
}
