.blog-div {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  align-content: flex-start;
  align-content: space-around;
  border: 1px solid #e0e0e0;
  box-shadow: 4px 4px #cfcfcf;
  border-radius: 4px;
  max-width: 20vw;
  margin-top: 15vh;
  margin-right: 2vw;
  margin-left: 2vw;
  padding-top: 1.5em;
  background-color: rgb(250, 250, 250);
}
#title {
  margin: 0 auto;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  color: black;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 1em;
}
img {
  display: flex;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 4px;

  margin: 0 auto;
  height: 40vh;
  width: 17vw;
}
h2 {
  display: flex;
  font-weight: normal;
  font-size: 16px;
  margin-top: 20px;
  margin: 0 auto;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 1em;
}
h3 {
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
  margin: 0 auto;
  padding-bottom: 1em;
}
