@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.blog-form,
.form-item {
  border-radius: 4px;
}

.blog-form {
  margin: 8em auto;
  /* padding-top: 1em; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e2e2e2;
  width: 30vw;
  box-shadow: 2px 2px 3px rgb(0, 0, 0, 0.3);
}

.form-item {
  margin: 1.5em 0;
  border: 0;
  font-size: 1rem;
  width: 75%;
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  outline-color: rgb(189, 187, 187);
}

.blog-form h1 {
  padding: 0.5em 0;
  font-family: "Lobster", cursive;
  color: #ffffff;
  font-size: 34px;
  font-weight: normal;
  letter-spacing: 1px;
  background-color: #7fa8b9;
  width: 100%;
  text-align: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.button {
  background: #24a0ed;
  width: 50%;
  color: #ffffff;
  transition: transform 100ms;
  cursor: pointer;
  font-weight: bold;
}

.button:hover {
  transform: scale(1.1);
}
